.btn{
  background-color: burlywood;
  margin-top: 60px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
.btn:hover{
  cursor: pointer;
  background-color: beige;
}
p{
  margin-top: 10px;
}

